/************************/
/****** colors **********/
/************************/
/*
bright blue #20C5EF
red #E85252
light green #B0EDA0
yellow: #F9F581
light orange yellow: F9E581
water blue: #a7cdf2
medium blue: #9bbff4
*/

/******************************/
/****** Map *********/
/******************************/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive-element iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/******************************/
/****** footer *********/
footer {
  text-align: center;
}
/******************************/
/******************************/
/****** General *********/
/******************************/
 /* @import url('https://fonts.googleapis.com/css?family=Titillium Web'); */


 /* body {
   font-family: 'Titillium Web';
 } */

.blueOutline {
  border: solid #a7cdf2;
}

.rightMargin {
  margin-right: 1%;
}
.topMargin {
  margin-top: 3%;
}
.alignLeft {
  text-align: left;
}

.greenUnderline {
  border-bottom: solid #bbdaa4;
}

.blueText {
  color: #a7cdf2;
}

.greenText {
  color: #bbdaa4;
}

.button:hover {
  background-color: gray;

}

.redButton {
  background-color: #E85252;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.blueButton {
  background-color: #a7cdf2;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.yellowButton {
  background-color: #F9E581;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


.greenButton {
  background-color: #bbdaa4;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}



.darkBlueButton {
  background-color: #4a80f5;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 1%;
}

:focus {
    outline: none !important;
    color: inherit;
    background-color: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.invalid {
  border-color: blue;
}

.error-placeholder {
  color: blue;
}

/******************************/
/****** Home page *********/
/******************************/
header {
  height: 30%;
  width: 100%;
  /* background-color: #bbdaa4; */
  color: #9bbff4;
  /* background-color: blue; */
}


.mainMap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.addHikeButton {
  margin-bottom: 0%;
  display: inline-block !important;
}

/* .addHikeButton:active, .addHikeButton:visited {
  color: inherit;
  background-color: inherit;
} */

.appName {
  margin-bottom: 0;
  margin-top: 1%;
  margin-left: 2%;
}

.appDescription {
  margin-top: 0;
  margin-bottom: 3%;
  margin-left: 2%;
  display: inline-block !important;
}

.addHikeDiv {
  display: inline-block !important;
  margin-left: 60%;
}

/******************************/
/****** FormContainer *********/
/******************************/

.toggleManual {
  background-color: #F9E581;
  color: black;
}

.addh2 {
  margin-bottom: 4%;
  background-color: #bbdaa4;
  padding: 1%;
}


/******************************/
/****** BaseForm *********/
/******************************/
.hikeAttributes {
  margin-top: 5%;
}

.importFile {
  display: block;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #BBB;
  /* background-color: #DDD; */
  cursor:pointer;
  margin:  1% auto;
}



/******************************/
/**** Set pin forms   *********/
/******************************/

.setPinButton {
  background-color: #20C5EF;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}




/******************************/
/**** HikeDetailsModal   *********/
/******************************/

.coverImage {
  width: 100%;
	height: 25em;

	object-fit: cover;
	overflow: hidden;
  border: solid #bbdaa4 1rem;
}

.singelHikeMap {
  height: 100%;
  width: 100%;
  margin: 2% 0;
  padding: 0;
}

.hikeDetails h4 {
    font-weight: bold;
}

.hikeDetails {
  text-align: center;
}

.hikeDetails ul {
list-style-type: none !important;
}

.addLeftMargin {
  margin-left: 1%;
}

.edith3 {
  margin-bottom: 4%;
  background-color: #a7cdf2;
  padding: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.textForDetails {
  white-space: pre-wrap;
}


/******************************/
/**** success and error modals   *********/
/******************************/
