/************************/
/****** colors **********/
/************************/
/*
bright blue #20C5EF
red #E85252
light green #B0EDA0
yellow: #F9F581
light orange yellow: F9E581
water blue: #a7cdf2
medium blue: #9bbff4
*/

/******************************/
/****** Map *********/
/******************************/
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive-element iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/******************************/
/****** General *********/
/******************************/

.blueOutline {
  border: solid #a7cdf2;
}

.rightMargin {
  margin-right: 1%;
}
.topMargin {
  margin-top: 3%;
}
.alignLeft {
  text-align: left;
}

.greenUnderline {
  border-bottom: solid #bbdaa4;
}

.blueText {
  color: #a7cdf2;
}

.greenText {
  color: #bbdaa4;
}

#b:hover {
  background-color: red;
}
.redButton {
  background-color: #E85252;
}

.blueButton {
  background-color: #a7cdf2;
  color: black;
}

.yellowButton {
  background-color: #F9E581;
  color: black;
}

.hoverGrey:hover {
  background-color: gray;
}
.greenButton {
  background-color: #bbdaa4;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.invalid {
  border-color: blue;
}

.error-placeholder {
  color: blue;
}

/******************************/
/****** Home page *********/
/******************************/
header {
  height: 30%;
  width: 100%;
  /* background-color: #bbdaa4; */
  border-bottom:  solid #bbdaa4;
  color: #9bbff4;

  /* background-color: blue; */
}

body {
  /* background-color: #FEFAF1; */
}

/******************************/
/****** FormContainer *********/
/******************************/

.toggleManual {
  background-color: #F9E581;
  color: black;
}


/******************************/
/****** BaseForm *********/
/******************************/
.hikeAttributes {
  margin-top: 5%;
}
/*
.attributeLabel input {
  float: left;
}

.attributeLabel {
  margin-left: 30px;
  display: block;
} */

/******************************/
/**** Set pin forms   *********/
/******************************/

.setPinButton {
  background-color: #20C5EF;
  color: black;
}




/******************************/
/**** HikeDetailsModal   *********/
/******************************/

.coverImage {
  width: 100%;
	height: 25em;

	object-fit: cover;
	overflow: hidden;
  border: solid #bbdaa4 1rem;
}

.singelHikeMap {
  height: 100%;
  width: 100%;
  margin: 2% 0;
  padding: 0;
}

.hikeDetails h4 {
    font-weight: bold;
}

.hikeDetails {
  text-align: center;
}

.hikeDetails ul {
list-style-type: none !important;
}
